server:
  port: 8082

spring:
  datasource:
    url: ${APP_DB_URL:jdbc:postgresql://localhost:1234/app_tracks}
    username: ${APP_DB_USER:postgres}
    password: ${APP_DB_PASSWORD:admin}
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  jackson:
    time-zone: UTC
